.form-control{
    border-radius: 10px;
    box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.2);
}

.nav-link {
    color: #FFFFFF; 

     @include hover-focus {
       color: #0f0; 
     }  
}  

.btn-outline-light {
    border-radius: 30px;
    margin-right: 10px;
    border-width: 2px;
}

.card-body{
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
    padding: 3rem;
}

.checkbox{
    margin-left: 60px;
    padding: 0.25rem;
}
